.center{
   display:flex;
   align-items:center;
   justify-content:center;
   font-family:  'Times New Roman'; 

}

.margin_label{
    margin-top:10px;
   background-color:rgba(255,255,255,0.7);
}

.back {
    background: url(mahe_back_without_text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}