.center{
   display:flex;
   align-items:center;
   justify-content:center;
   font-family:  'Times New Roman'; 

}

.margin_label {
    margin-top: 30px;
    background-color: rgba(255,255,255,0.7);
    position:absolute;
    right:40px;

    
}

.back {
    background: url(mahe_back_without_text.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}

.left{
    position:absolute;
    left:30px;
    height: 300px;
    width:500px;

}

.right{
    position:absolute;
    right : 100px;
    height: 300px;
    width:500px;
}

.register {
    position: absolute;
    top: 375px;
    left: 550px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.txtbox{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

